.custom-fonts {
  width: 100vw;
  height: 100vh;
  font-family: "Trattatello, fantasy";
  font-weight: 400;
}
.labelz {
  color: var(--secondary);
}
.uniform-colors {
  --warning: green;
  --danger: rgb(148, 3, 32);
}
.theme-light {
  --primary: #f2f5ff;
  --secondary: #000310;
  --hover-modal: #000;
  background-color: var(--primary);
}
.theme-dark {
  --primary: #000310;
  --secondary: #f2f5ff;
  --hover-modal: #fff;
  background-color: var(--primary);
}

@media screen and (min-width: 320px) {
  .App {
    --text: 12px;
    --heading: 16px;
    --menu: 10px;
    position: fixed;
  }
}
@media screen and (min-width: 480px) {
  .App {
    --text: 13px;
    --heading: 17px;
    --menu: 11px;
    position: fixed;
  }
}
@media screen and (min-width: 600px) {
  .App {
    --text: 14px;
    --heading: 18px;
    --menu: 12px;
    position: fixed;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media screen and (min-width: 801px) {
  .App {
    --text: 15px;
    --heading: 19px;
    --menu: 13px;
    position: fixed;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media screen and (min-width: 1025px) {
  .App {
    --text: 16px;
    --heading: 20px;
    --menu: 14px;
    position: fixed;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media screen and (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .App {
    --text: 17px;
    --heading: 21px;
    --menu: 15px;
    position: fixed;
  }
}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
